:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}
body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    background-color: var(--slate-300);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    max-width: 320px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    text-wrap: wrap;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card > img {
    width: 100%;
    border-radius: 10px;
}

.card > h2 {
    color: var(--slate-900);
    font-weight: 700;
    font-size: 22px;
    margin: 24px 0 16px;
}

.card > p {
    color: var(--slate-500);
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 24px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 375px) {
    .card {
        max-width: 340px;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        max-width: 360px;
    }
}
